# Moltin Store Client ID (🔗 https://dashboard.moltin.com/app):
MOLTIN_CLIENT_ID=SFguKUE5fskzV5oS8txSPkROppG1hYh4fE3oPm96dL
# This default ID is from Moltin's sample "I ❤︎ Lamp" Catalogue. For more sample catalogues, see:
# 🔗 https://github.com/moltin/moltin-transfer-catalog-data/blob/master/upload.html

# Algolia Application ID (🔗 https://www.algolia.com/apps/[APP_ID]):
ALGOLIA_APP_ID=
# Algolia Admin API Key (🔗 https://www.algolia.com/apps/[APP_ID]/api-keys/all):
ALGOLIA_ADMIN_KEY=